MONGODB_URI=mongodb://127.0.0.1:27017/deenfit
JWT_SECRET=change-me

# Cloudinary (optional; used for /api/Account/uploadfile)
CLOUDINARY_CLOUD_NAME=ddswmswdi
CLOUDINARY_API_KEY=567658194338858
CLOUDINARY_API_SECRET=jAiILym9295euiiiszu7ERdHrks

# Optional folder name in your Cloudinary media library
CLOUDINARY_FOLDER=deenfit

# Razorpay (for Checkout payments)
RAZORPAY_KEY_ID=rzp_test_SPUyTHiBUK5rHI
RAZORPAY_KEY_SECRET=XG3lSjQbamH0PtQtu4bCAiP9
