@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@200;300;400;500;600;700&display=swap');

html, body {
  font-family: 'Montserrat', sans-serif;
}

.parallax {
  position: relative;
  overflow: hidden;
}
.font-cormorant-garamond {
  font-family: 'Cormorant Garamond', serif !important;
}
.text-head{
  font-size: 2.5rem !important;
  font-weight: 200 !important;
  color: #fff;
}
.text-para {
  font-size: 10px !important;
}
.scroller {
  display: flex;
  white-space: nowrap;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.02em;
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.1));
}

.scroller span {
  flex-shrink: 0;
}

@media (min-width: 768px) {
  .scroller {
    font-size: 5rem;
    line-height: 5rem;
  }
}
a{
    text-decoration: none !important;
}
